<!-- Banner -->
<div id="slides" class="carousel slide" data-ride="carousel">
  <!-- <ul class="carousel-indicators">
    <li data-target="#sliders" data-slide-to="0" class="active"></li>
    <li data-target="#sliders" data-slide-to="1"></li>
    <li data-target="#sliders" data-slide-to="2"></li>
  </ul> -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/banner/homebanner.jpg">
      <div class="carousel-caption">
        <h1 class="display-4">
          Welcome to {{ title }}!
        </h1>
        <h3>
          <a class="btn btn-outline-light btn-lg" href="https://github.com/band-its/band.it" role="button">Learn
          more</a>
        </h3>
      </div>
    </div>
  </div>
</div>

<!-- Social media buttons -->

<!-- <div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-12">
      <h2 class="connect">Connect</h2>
    </div>
    <div class="col-12 social padding">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div> -->