### Gradle ###
.gradle
/build/
*/build/*
!gradle/wrapper/gradle-wrapper.jar
/coverage

### IDEs and editors ###
.idea
*.iws
*.iml
*.ipr
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# System Files
.DS_Store
Thumbs.db
