### Gradle ###
.gradle
/build/
*/build/*
!gradle/wrapper/gradle-wrapper.jar

### IDEs and editors ###
.idea
*.iws
*.iml
*.ipr
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### NPM dependencies ###
/dist
/tmp
/out-tsc
/bazel-out
/out/
*/out/*
node_modules/*

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
