div.logo {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

div.image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 10vh;
  height: 10vh;
  background-color: orange;
  display: inline-block;
}

a.webName {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  margin: 0 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

nav {
  width: 40%;
  height: 80%;
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%)
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  width: 25%;
  height: 100%;
  position: relative;
}

nav ul li a {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  padding: 6px 0;
  background-color: white;
  color: black;
  font-size: 20px;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
}

nav ul li a:hover {
  background-color: rgb(200, 200, 200);
}

button.signUp {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  padding: 6px 20px;
  border: none;
  font-size: 20px;
  background-color: rgb(200, 200, 200);
}