img {
  width: 40px;
  height: 40px;
}

#mainNavbar {
  font-size: 1.1rem;
  background-color: #0f1617;
  border-bottom: 1px solid #ff6977;
}

#mainNavbar .navbar-brand {
  font-size: 1.6rem;
}

#mainNavbar .navbar-brand span {
  color: #ff6977;
  font-size: 1.3rem;
}

#mainNavbar .nav-link {
  color: white;
  transition: .3s;
}

#mainNavbar .nav-link:hover {
  color: #ff6977;
}

.active-link {
  color: #ff6977 !important;
}