/* footer {
    background-color: rgba(69, 24, 60);
    background-color: black;
    color: rgb(217, 236, 240);
    padding-top: 2rem;
    box-shadow: 0px 0px 10px black;
}

hr.light {
    border-top: 1px solid rgb(217, 236, 240);
    width: 75%;
    margin: 0.8rem auto 1rem auto;
}

footer p {
    margin: 4px 0;
    color: rgb(217, 236, 240);
    font-size: 0.8rem;
}

hr.light-100 {
    border-top: 1px solid rgb(217, 236, 240);
    width: 100%;
    margin: 1.5rem auto;
}

.copyRights h5 {
    padding: 0 0 15px;
}

h4 img {
    width: 100px;
    height: 100px;
}

h4 a {
    color: rgb(217, 236, 240);
} */

footer {
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 1rem;
}

.row {
    margin: 0px;
}

footer img {
    height: 4rem;
    margin: 1.5rem 0;
}

footer strong {
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer p {
    font-weight: 500;
}

footer a {
    color: white;
}

footer .fab {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-right: 0.8rem;
    transition: .2s;
}

footer .fab:hover {
    color: #333;
}

hr.socket {
    width: 100%;
    border-top: 2px solid white;
    margin-top: 3rem;
}