<div id="contact" class="offset">
    <footer>
        <div class="justify-content-center row">
            <div class="col-md-5 text-center">
                <img src="../../../assets/logo/bandit.png" alt="">
                <p>Create your own band</p>
                <strong>Contact Info:</strong>
                <p>555-555-555<br>email@email.com</p>
                <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <hr class="socket">
            <p>&copy; Band.It</p>
        </div>
    </footer>
</div>