<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-6">
                <h4>
                    <img src="../../../assets/logo/bandit.png" alt="">
                    <a href="#" class="navbar-brand">Band.It</a>
                </h4>
                <hr class="light">
                <p>555-555-555</p>
                <p>email@email.com</p>
                <p>Ulica 102</p>
                <p>30-300 Miejscowość</p>
            </div>
            <div class="col-md-6">
                <h4>Help center</h4>
                <hr class="light">
                <p>Monday: 7-18</p>
                <p>Tuesday: 7-18</p>
                <p>Wednesday: 7-18</p>
                <p>Thursday: 7-18</p>
                <p>Friday: 7-18</p>
                <p>Saturday: 7-18</p>
                <p>Sunday: 7-18</p>
            </div>
            <div class="copyRights col-12">
                <hr class="light-100">
                <h5>&copy; BandIt</h5>
            </div>
        </div>
    </div>
</footer>