<div class="container-fluid px-0 py-5">
  <nav class="navbar navbar-light bg-danger">
    <form class="form-inline px-5">
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">Rock</button>
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">Alternative</button>
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">Metal</button>
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">Acoustic</button>
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">Pop</button>
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">Electronic</button>
    </form>
  </nav>
  <nav class="navbar navbar-light bg-secondary">
    <form class="form-inline px-5">
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">Best selling</button>
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">Top raiting</button>
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">Most popuar</button>
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">The most fans</button>
    </form>
  </nav>
  <nav class="navbar navbar-light bg-success">
    <form class="form-inline px-5">
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">Best selling</button>
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">Top raiting</button>
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">Most popuar</button>
      <button class="btn btn-sm btn-outline-dark mx-1 rounded-pill" type="button">The most fans</button>
    </form>
  </nav>
  <div class="container-fluid p-5">
    <div class="row">
      <div class="container-fluid col-9 bg-light text-center py-3 border-right">
        <div class="row">
          <div class="col-3 p-4 text-left">
            <img src="../../../../assets/banner/picture-example.jpg" alt="">
            <a href="" class="nav-link p-0 text-dark">Nazwa zespołu</a>
            <a href="" class="nav-link p-0 text-dark">Wykonawca</a>
            <a href="" class="nav-link p-0 text-dark">Gatunek</a>
          </div>
        </div>
      </div>
      <div class="col-3 bg-light py-3">Wyswietlanie wybranego zespolu</div>
    </div>
  </div>
</div>