<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for band" aria-label="Search">
    <button class="btn bg-dark btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<nav class="navbar navbar-light bg-success">
  <form class="form-inline">
    <button class="btn btn-sm btn-outline-secondary" type="button">Rock</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Alternative</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Metal</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Acoustic</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Pop</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Electronic</button>
  </form>
</nav>

<nav class="navbar navbar-light bg-secondary">
  <form class="form-inline">
    <button class="btn btn-sm btn-outline-secondary" type="button">Best selling</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Top raiting</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Most popuar</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">The most fans</button>
  </form>
</nav>

<nav class="navbar navbar-light bg-dark">
  <form class="form-inline">
    <button class="btn btn-sm btn-outline-secondary" type="button">coś</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">trzeba</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">wymyślić</button>
  </form>
</nav>

<div class="container-fluid padding">
  <div class="row text-center">
    <div class="table col-md-9">
      <h4>Tutaj tabela</h4>
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="bandView col-md-3">
      <h4>
        Wyświetlanie wybranego zespołu w pigułce
      </h4>
    </div>
  </div>
</div>